<section>

  <article>

    <%= render 'post_title', :post => @post, :author => @author %>

    <%= render 'post_body', :post => @post %>
    
  </article>

  <%= render 'post_author', :author => @author %>

  <%= render 'disqus_comments' %>

</section>

<aside>
  <%= render 'share_buttons' %>
  
  <%= render 'latest_posts', :posts => @latest_posts %>
</aside>