<% cache @post do %>
  <% content_for(:title) { "#{@post.title} | #{Tinyblog.blog_name}" } %>

  <% if @post.meta_description %>
    <% content_for(:meta_description) { @post.meta_description } %>
  <% end %>

  <section>

    <article>

      <%= render 'post_title', :post => @post, :author => @author %>

      <%= render 'post_body', :post => @post %>
      
    </article>

    <%= render 'post_author', :author => @author %>

    <%= render 'disqus_comments' %>

  </section>
<% end %>

  <aside>
    <%= render 'share_buttons' %>
    
    <%= render 'latest_posts', :posts => @latest_posts %>
  </aside>