<section>

  <article>

    <%= render 'post_title' %>

    <%= render 'post_body' %>
    
    <%= render 'post_author' %>

  </article>

  <%= render 'disqus_comments' %>

</section>

<aside>

  <%= render 'social_buttons' %>

  <%= render 'latest_posts' %>

</aside>