<!DOCTYPE html>
<html>
<head>
  <title>Tinyblog</title>
  <%= stylesheet_link_tag    "tinyblog/application", media: "all" %>
  <%= javascript_include_tag "tinyblog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <% alert_type = [:success, :notice].include?(name) ? "success" : "warning" %>
      <div class="alert alert-<%= alert_type %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{alert_type}" %>
      </div>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
