<div class="container">
  <div class="col-sm-2 col-sm-offset-1">
    <div class="side">
      <div class="actions">
        <%= link_to t('tinyblog.posts.new'), admin_posts_path, :method => :post, :class => 'btn btn-primary' %>

        <ul>
          <%= content_tag :li, class: ('active' if params[:tab] == 'All' ) do %>
            <%= link_to 'All', admin_posts_path(tab: 'All') %>
          <% end %>

          <%= content_tag :li, class: ('active' if params[:tab] == 'Draft' ) do %>
            <%= link_to 'Drafts', admin_posts_path(tab: 'Draft') %>
          <% end %>

          <%= content_tag :li, class: ('active' if params[:tab] == 'Published' ) do %>
            <%= link_to 'Published', admin_posts_path(tab: 'Published') %>
          <% end %>

          <%= content_tag :li, class: ('active' if params[:tab] == 'Trash' ) do %>
            <%= link_to 'Trash', admin_posts_path(tab: 'Trash') %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="main">
      <div class="posts-container">
        <h1><%= params[:tab].capitalize %> Posts</h1>
        <table class="posts">
          <tbody>
            <% @posts.each do |post| %>
              <%= content_tag_for :tr, post, data: {behaviour: 'has_hover_content'} do %>
                
                <td class="post-author">
                  <%= post.author.short_fullname %>
                </td>   

                <td class="post-title">
                  <%= link_to_unless post.destroyed?, post.title, admin_post_path(post) %>
                </td>

                <td class="post-actions">
                  <% if post.destroyed? %>

                    <%= link_to t('tinyblog.ui.restore'), restore_admin_post_path(post), :method => :put%>              

                  <% else %>

                    <%= link_to t('tinyblog.ui.delete'), admin_post_path(post), :method => :delete  %>

                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tbody>
        </ul>
      </div>
    </div>
  </div>
</div>