<div class="container-fixed">
  <div class="row">
    <div class="breadcrumbs">
      <%= link_to 'Back to posts', admin_posts_path %>
    </div>
  </div>
  <div class="row">

    <div class="main">  
      <div class="paper">
          <div class="paper-header">
            <h1 class="title">
              <%= @post.title %>
            </h1>

          </div>
          <div class="paper-toolbar">
            <%= simple_form_for [tinyblog, :admin, @post], defaults: {required: false}, html: {class: 'form-inline'} do |f| %>
              <%= f.association :author, 
                                :collection => Tinyblog::Author.all, 
                                label: 'By:', 
                                :label_method => :short_fullname, 
                                :value_method => :id, 
                                :include_blank => false, 
                                input_html: {class: 'input-xs'} %>

              <%= f.input :published_at, 
                          as: :date,
                          label: 'On:',
                          input_html: {
                            class: 'input-xs'
                          } %>     

              <%= f.button :submit, t('tinyblog.ui.update'), class: 'btn btn-xs btn-default'  %>
            <% end %>
          </div>
          <div class="paper-body">
            <%= simple_format(@post.body) %>
          </div>

          <div class="paper-footer">
            <%= simple_form_for [tinyblog, :admin, @post], defaults: {required: false} do |f| %>
              <div class="row">
                <%= f.input :meta_description, wrapper_html: {class: 'col-sm-6'}, input_html: {class: 'input-xs'} %>
              </div>
              <%= f.button :submit, 'Update meta', class: 'btn btn-xs btn-default' %>
            <% end %>
          </div>
      </div>
    </div>

    
    <div class="side">
      <div class="actions">
          <%= link_to t('tinyblog.posts.edit'), edit_admin_post_path(@post), :class => 'btn btn-block btn-default btn-lg' %>
          <ul class="actions-secondary">
            <li><%= link_to t('tinyblog.posts.view') + '...', post_path(@post, preview: true) %></li>
            <li><%= link_to t('tinyblog.posts.delete') + '...', admin_post_path(@post), method: :delete %></li>
            <% if @post.drafting? %>
            <li><%= link_to t('tinyblog.posts.publish') + '...', admin_post_status_path(@post, status: 'published'), method: :patch %> </li>
            <% else %>
              <li><%= link_to t('tinyblog.posts.draft') + '...', admin_post_status_path(@post, status: 'drafting'), method: :patch %> </li>
            <% end %>
          </ul>
      </div>
    </div>

  </div>
</div>